<html>
<h1>
    {{ .title }}
</h1>
<form action="./signin" method="post">
    First name: <input type="text" name="username"><br>
    Last name: <input type="password" name="password">
    <input type="submit" value="发送">
</form>
<form action="./signup" method="post">
    First name: <input type="text" name="username"><br>
    Last name: <input type="password" name="password">
    <input type="submit" value="发送">
</form>

</html>